body, html{
    background-color: orangered;
    height: 100%;
    margin: 0px;
}


nav li{
    display: inline;
    margin: 20px;
}

nav ul{
    background-color: black;
    margin: 0;
    list-style-type: none;
    width:100%;
    padding: 20px;

}

nav{
    display: block;
    color:blue;
}

nav a{
    color:crimson;
    text-decoration: none;
}

nac a:hover{
    color: white;
}

.hero-image{
    background-image: source=url("../https://1drv.ms/u/s!AhdcyZ_xQrDIh3i72jg8ElUGVoEB");
}